@{
    string GetHeaderColor()
    {
        var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
        var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
        var returnUrl = $"{routeUrl}{qsPath}";
        //Console.WriteLine(returnUrl);

        if (returnUrl == "/")
        {
            return "bg-secondary";
        }

        return "bg-danger";
    }
}

<header>
    <nav class="@GetHeaderColor() navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <img src="https://previews.123rf.com/images/simmmax/simmmax1510/simmmax151000004/46552202-pizza-delivery-logo-fast-delivery-logo-pizza-logo.jpg" alt="Logo" width="35" height="35" class="d-inline-block rounded-circle">
                Best Pizza
            </a>
            <ul class="navbar-bar d-flex ms-auto mb-1 list-unstyled">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Home/Index">
                        <span>Admin</span>
                    </a>

                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link text-white" href="/Home/UserIndex">
                        <span>User</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
