@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center align-middle">
            <th scope="row" class="text-center">1</th>
            <td>
                <img class="align-self-center" style="width: 60px; height:60px" src="~/img/margherita.png" />
            </td>
            <td>Margherita</td>
            <td>Pomodoro, mozzarella</td>
            <td>6€</td>
        </tr>
        <tr class="text-center align-middle">
            <th scope="row" class="text-center">2</th>
            <td>
                <img class="align-self-center" style="width: 60px; height:60px" src="~/img/marinara.png" />
            </td>
            <td>Marinara</td>
            <td>Pomodoro, origano, aglio</td>
            <td>5€</td>
        </tr>
        <tr class="text-center align-middle">
            <th scope="row" class="text-center">3</th>
            <td>
                <img class="align-self-center" style="width: 60px; height:60px" src="~/img/diavola.png" />
            </td>
            <td>Diavola</td>
            <td>Pomodoro, mozzarella, salame piccante</td>
            <td>8€</td>
        </tr>
    </tbody>
</table>