@{
    ViewData["Title"] = "User Page";
    Layout = "_Layout";

    var allPizzas = PizzaStore.GetAllPizzas();
}

<h1>Choose a pizza</h1>
<div class="row mt-2">
    @foreach (var pizza in allPizzas)
    {
        <div class="col-lg-2 col-sm-6 col-md-4 d-flex justify-content-center mb-3">
            <div class="card h-100 border-5 border-danger" style="width: 18rem;">
                <img src="@pizza.PhotoUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                    <a href="#" class="btn btn-danger">Buy for @pizza.Price€</a>
                </div>
            </div>
        </div>
    }
</div>